<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, alias.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iusto
        dolores voluptatum
      </div>
    </div>
  </div>

  <!-- Two versions of the block component -->
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, alias.
    </p>
  </div>
</section>
