<div>
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Easy start on the cloud</span>
      </header>
      <div class="card__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iusto
        dolores voluptatum
      </div>
    </div>
  </div>
</div>

<!-- Has some extra code you know -->

<!-- second version -->

<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iusto
      dolores voluptatum
    </div>
  </div>
</div>
